---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.tsx'
---

<Layout title="Build your Gaydar ;)">
	<main>
		<Main client:load />
	</main>
</Layout>

<style>

</style>
